<!DOCTYPE html>
<html>
<head>
  <title>EffeDiMarket</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>

<%= render "layouts/header" %>
<div class="container">
  <%= flash.each do |type, message| %>
    <script>
    Materialize.toast('<%= message %>', 4000);
    </script>
  <% end %>
</div>

<%= render "pages/slider" if action_name == "home" %>

<main class="container">
  <%= yield %>
</main>
<%= render "layouts/footer" %>

</body>

  <script>
  $(".button-collapse").sideNav();
  </script>

  <script>
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  </script>

  <script>
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  </script>

  <script>
  $(document).ready(function(){
        $('.parallax').parallax();
      });
  </script>

  <script>
  $(document).ready(function(){
  $(".dropdown-button").dropdown();
  });
  </script>

</html>
